fastapi
uvicorn[standard]
python-multipart

moviepy
pydub

faster-whisper

opencv-python-headless
pillow
imagehash
pytesseract

sentence-transformers==2.6.1
transformers>=4.36.0,<5
torch

nltk
spacy

chromadb

pymupdf
python-docx

paddleocr

requests
urllib3<2.0
charset-normalizer

numpy
scipy